html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}
body {
  background-color: white;
  color: var var(--primary-white-color);
  font-family: monserate, sans-serif;
  letter-spacing: -0, 15em;
  font-size: 18px;
  line-height: 1.67;
}
h1,
h2,
h3,
h4 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.page-header {
}
.logo {
  color: black;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-item {
  color: #2196f3;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
/* identical to box height */
ul {
  list-style: none;
}
.site-nav .link {
  color: #212121;
  background-color: khaki;
  outline: red;
}
.site-nav .link.current {
  color: var(--title-text-color);
}
.site-nav {
  display:flex;
  margin: 80;
}
.site-nav .link {
  display: block;
  padding: 11px;
  justify-content: flex-end;
}
.site-nav .link:hover {
  color: #2196f3;
  .site-nav .link:focus {
    color: #2196f3;
  }
  /* Hero */
  .hero-title {
    color: black;
    font-weight: 400;
    font-size: 56px;
    line-height: 1.43;
    text-align: center;
  }
  /* Section */
  .section {
  }
  .section-title {
    color: #000;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.2;
    text-align: center;
  }
  .feature-list .title {
    color: black;
    font-weight: 700;
    font-size: 24;
    line-height: 1.5;
  }
  .feature-list .link {
    color: #18a;
  }

  /* Button */
  .auth-nav > .button {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: #757575;
    background-color: coral;
    cursor: pointer;
  }

  .button:hover,
  .button:focus {
    color: darkgreen;
    background-color: blueviolet;
  }

 .button.primary {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
 .button.primary:hover,
  .button:focus {
    color: darkgreen;
    background-color: blueviolet;
  }
.button.secondary {
  color: var(--accent-color);
  background-color: var(--primary-white-color); */
}
